.extra-pagination.inner
  = partial('shared/pagination') if paginate

- page_articles.each do |article|
  = partial('shared/article',
                locals: { article: article })

= partial('shared/pagination') if paginate
